*{
    padding: 0;
    margin: 0;
}
/* kích thước dòng và font chữ */
body{
    font-family: sans-serif;
    line-height: 1.4;

}

.product{
    border: 4px solid black;
    width: 852px;
    margin:50px auto;
    position: relative;

}
.sale{
    background-color: #ec2f2f;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    /* Khoảng cách chữ cho các phần tử */
    letter-spacing: 2px;
    padding: 7px 15px;

    display: inline-block;
    position: absolute;
    top: -17px;
    left: -38px;
}
.color {
    background-color: #000;
    width: 22px;
    height: 22px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
}
.color-blue {
    background-color: #2f6ee2;
}
.color-red {
    background-color: red;
}
.color-yellow {
    background-color: yellow;
}
.collor-green {
    background-color: green;
}
.color-brown {
    background-color: #885214;
}
.product-title {
    /* Căn lề */
    text-align: center;
    /* cỡ chữ */
    font-size: 22px;
    /* màu nền */
    background-color: #f7f7f7;
    /* thiết lập viết hoa cho kí tự */
    text-transform: uppercase;
    padding: 15px;

}.price{
    font-size: 24px;
 
}
.shipping{
    font-size: 12px;
    color: #777;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}
.more-info:link, .more-info:visited{
    color: black;
}
.more-info:hover, .more-info:active{
    text-decoration: none;
}
.details-title{
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 15px;
}
.details-list{
   list-style: square; 
   margin-left: 20px;
}
.details-list li{
    margin-bottom: 10px;

}
.add-cart{
    font-size: 20px;
    text-transform: uppercase;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border-top: 4px solid black;

}
.add-cart:hover{
    color: black;
    background-color: #fff;
}
